<p id="notice"><%= notice %></p>

<h1>Listing Earnings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Member BD</th> 
      <th> Rnak </th>
      <th>Member Name</th> 
      <th>Amount</th> 
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @earnings.each do |earning| %>
    
      <tr>
        <td><%= Earning.find(earning.id).member.bd %></td>&nbsp &nbsp &nbsp
        <td><%= Earning.find(earning.id).member.rank %></td>&nbsp 
         <td><%= Earning.find(earning.id).member.name %></td>&nbsp &nbsp &nbsp
        <td><%= earning.amount %></td>&nbsp &nbsp &nbsp 
        <td><%= earning.time %></td>&nbsp 
        

        <td><%= link_to 'Show', earning %></td>&nbsp 
        <td><%= link_to 'Edit', edit_earning_path(earning) %></td>&nbsp 
        <td><%= link_to 'Destroy', earning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Earning', new_earning_path %>
