<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @earning.member_id %>
</p>

<p>
  <strong>BD:</strong>
  <%= Earning.find(@earning.id).member.bd %>
</p>
<p>
  <strong>Rank:</strong>
  <%= Earning.find(@earning.id).member.rank %>
</p>


<p>
  <strong>Name:</strong>
  <%= Earning.find(@earning.id).member.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @earning.amount %>
</p>

<p>
  <strong>Time:</strong>
  <%= @earning.time %>
</p>

<%= link_to 'Edit', edit_earning_path(@earning) %> |
<%= link_to 'Back', earnings_path %>
